<md-dialog aria-label="เพิ่มนักเรียน">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>เพิ่มนักเรียน</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon md-svg-icon="cancel" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content layout-padding style="max-width:800px;max-height:810px; ">
        ดหดกดหกดก
        <form name="addCourseForm">
            <div layout-gt-xs="row">
                <md-input-container flex-gt-xs>
                    <label>ชื่อ Course</label>
                    <input required name="courseName" ng-model="addCourse.name" md-maxlength="30" md-select-on-focus>
                    <div ng-messages="addCourseForm.courseName.$error">
                        <div ng-message="required">กรอกชื่อวิชา.</div>
                    </div>
                </md-input-container>
                <md-input-container>
                    <md-select required ng-model="addCourse.time" placeholder="ช่วงเวลาสอน" class="md-block">
                        <md-option value="morning">9.00 - 12.00</md-option>
                        <md-option value="afternoon">13.00 - 16.00</md-option>
                        <md-option value="evening">17.00 - 20.00</md-option>
                    </md-select>
                    <div ng-messages="addCourseForm.time.$error">
                        <div ng-message="required">เลือกช่วงเวลาสอน.</div>
                    </div>
                </md-input-container>
                <md-input-container>
                    <label>เริ่มสอนวันที่</label>
                    <md-datepicker ng-model="date" name="dateField" ng-change="addCourse.date = dateToString(date)" ng-required="true"></md-datepicker>
                    <div ng-messages="addCourseForm.date.$error">
                        <div ng-message="required">เลือกวันที่เริ่มสอน.</div>
                    </div>
                </md-input-container>
            </div>
            <md-input-container class="md-block">
                <label>รายละเอียด</label>
                <textarea ng-model="addCourse.details" md-maxlength="160" rows="5" md-select-on-focus></textarea>
            </md-input-container>
            <div layout="row" layout-align="center">
                <md-button class="md-primary" ng-click="addStudent(addCourse)" ng-disabled="addCourseForm.$invalid">Create Course</md-button>
            </div>
        </form>
    </md-dialog-content>
</md-dialog>