<div layout="row" layout-xs="column" layout-align="center">
    <div flex>
        <md-card>
            <md-content layout-padding>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Create Course</span>
                    </md-card-title-text>
                </md-card-title>
                <div>
                    <form name="addCourseForm">
                        <div layout-gt-xs="row">
                            <md-input-container flex-gt-xs>
                                <label>ชื่อ Course</label>
                                <input required name="courseName" ng-model="addCourse.name" md-maxlength="30" md-select-on-focus>
                                <div ng-messages="addCourseForm.courseName.$error">
                                    <div ng-message="required">กรอกชื่อวิชา.</div>
                                </div>
                            </md-input-container>
                            <md-input-container>
                                <md-select required ng-model="addCourse.time" placeholder="ช่วงเวลาสอน" class="md-block">
                                    <md-option value="morning">9.00 - 12.00</md-option>
                                    <md-option value="afternoon">13.00 - 16.00</md-option>
                                    <md-option value="evening">17.00 - 20.00</md-option>
                                </md-select>
                                <div ng-messages="addCourseForm.time.$error">
                                    <div ng-message="required">เลือกช่วงเวลาสอน.</div>
                                </div>
                            </md-input-container>
                            <md-input-container>
                                <label>เริ่มสอนวันที่</label>
                                <md-datepicker ng-model="date" name="dateField" md-min-date="minDate"md-max-date="maxDate" ng-change="addCourse.date = date.toISOString()" ng-required="true"></md-datepicker>
                                <div ng-messages="addCourseForm.date.$error">
                                    <div ng-message="required">เลือกวันที่เริ่มสอน.</div>
                                </div>
                            </md-input-container>
                        </div>
                        <md-input-container class="md-block">
                            <label>รายละเอียด</label>
                            <textarea ng-model="addCourse.details" md-maxlength="160" rows="5" md-select-on-focus></textarea>
                        </md-input-container>
                        <div layout="row" layout-align="center">
                            <md-button class="md-primary" ng-click="createCourse(addCourse)" ng-disabled="addCourseForm.$invalid">Create Course</md-button>
                        </div>
                    </form>
                </div>
            </md-content>
        </md-card>
    </div>
</div>