<md-content class="md-padding" layout-xs="column" layout="row" layout-align="space-around center" ng-init="closeAndOpen('opening')">
    <md-progress-circular md-mode="indeterminate" ng-show="isLoading"></md-progress-circular>
</md-content>
<div hide-xs layout="row" class="screen-margin" ng-hide="isLoading">
    <div flex-gt-xs="33">
        <md-card md-colors="::{backgroundColor: 'green-500'}">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">วิชาทั้งหมด</span>
                    <span class="md-subhead">Courses</span>
                </md-card-title-text>
                <md-card-title-media>
                    <div class="md-media-sm card-media"></div>
                    <div layout="row" layout-align="end center">
                        <span class="md-headline">{{ ul.course.length }} วิชา</span>
                    </div>
                </md-card-title-media>
            </md-card-title>
            <HR>
            <md-card-actions layout="row" layout-align="end center">
                <md-button ng-click="closeAndOpen('closed')" ng-show="ul.cp">วิชาที่ปิดแล้ว</md-button>
                <md-button ng-click="closeAndOpen('opening')" ng-hide="ul.cp">วิชาที่กำลังเปิด</md-button>
                <md-button ng-click="openCreateForm($event)">เพิ่มวิชา</md-button>
            </md-card-actions>
        </md-card>
    </div>
    <div flex-gt-xs="33">
        <md-card md-colors="::{backgroundColor: 'blue-500'}">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">นักเรียน</span>
                    <span class="md-subhead">Students</span>
                </md-card-title-text>
                <md-card-title-media>
                    <div class="md-media-sm card-media"></div>
                    <div layout="row" layout-align="end center">
                        <span class="md-headline">{{ ul.countStudent }} คน</span>
                    </div>
                </md-card-title-media>
            </md-card-title>
            <HR>
            <md-card-actions layout="row" layout-align="end center">
                <md-button ng-click="checkStudent()">อัพเดทเมื่อ {{dateStudentNow}}</md-button>
            </md-card-actions>
        </md-card>
    </div>
    <div flex-gt-xs="33">
        <md-card md-colors="::{backgroundColor: 'teal-500'}">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">ติวเตอร์</span>
                    <span class="md-subhead">Tutors</span>
                </md-card-title-text>
                <md-card-title-media>
                    <div class="md-media-sm card-media"></div>
                    <div layout="row" layout-align="end center">
                        <span class="md-headline">{{ ul.countTutor }} คน</span>
                    </div>
                </md-card-title-media>
            </md-card-title>
            <HR>
            <md-card-actions layout="row" layout-align="end center">
                <md-button ng-disabled="true">ติวเตอร์ที่กำลังรอ {{ul.pendingCountTutor }} คน</md-button>
            </md-card-actions>
        </md-card>
    </div>
</div>
<div hide-gt-xs layout="row" layout-xs="row" class="screen-margin" ng-hide="isLoading">
    <div flex-xs="33">
        <md-card>
            <md-card-title>
                <md-card-title-text layout-align="center center">
                    <span class="md-body-2">วิชาสอน</span>
                    <span class="md-subhead">{{ ul.course.length }} วิชา</span>
                </md-card-title-text>
            </md-card-title>
            <HR>
            <md-card-actions layout="row" layout-align="center center">
                <md-button ng-click="openCreateForm($event)">เพิ่มวิชา</md-button>
            </md-card-actions>
        </md-card>
    </div>
    <div flex-xs="33">
        <md-card>
            <md-card-title>
                <md-card-title-text layout-align="center center">
                    <span class="md-body-2">นักเรียน</span>
                    <span class="md-subhead">{{ ul.countStudent }} คน</span>
                </md-card-title-text>
            </md-card-title>
            <HR>
            <md-card-actions layout="row" layout-align="end center">
                <md-button>เพิ่มนักเรียน</md-button>
            </md-card-actions>
        </md-card>
    </div>
    <div flex-xs="33">
        <md-card>
            <md-card-title>
                <md-card-title-text layout-align="center center">
                    <span class="md-body-2">ติวเตอร์</span>
                    <span class="md-subhead">{{ ul.countTutor }} คน</span>
                </md-card-title-text>
            </md-card-title>
            <HR>
            <md-card-actions layout="row" layout-align="center center">
                <md-button>เพิ่มติวเตอร์</md-button>
            </md-card-actions>
        </md-card>
    </div>
</div>
<hr class="hr screen-margin">
<div layout="row" layout-xs="column" class="screen-margin" ng-hide="isLoading">
    <div flex="100">
        <md-card md-theme="default" md-theme-watch>
            <md-tabs md-dynamic-height md-border-bottom md-selected="selectedIndex">
                <div ng-repeat="i in ul.course | filter : filter as cnstring">
                    <md-tab label="{{ i.course.name }}" md-active="true">
                        <md-toolbar>
                            <div class="md-toolbar-tools">
                                <span>วิชา 
                                    {{ i.course.name }} - {{ filter }}</span>
                                <span flex></span>
                                <md-button aria-label="comment" class="md-icon-button" ng-click="ul.closeCourse(i)">
                                    <i class="material-icons">highlight_off</i>
                                    <md-tooltip md-delay="500">
                                        ปิดการสอน
                                    </md-tooltip>
                                </md-button>
                                <md-button aria-label="comment" class="md-icon-button" ng-click="ul.deleteCourse(i)">
                                    <md-icon md-svg-icon="deleteForever"></md-icon>
                                    <md-tooltip md-delay="500">
                                        ลบ
                                    </md-tooltip>
                                </md-button>
                            </div>
                        </md-toolbar>

                        <div layout="row" layout-xs="column">
                            <div flex layout-margin>
                                <md-toolbar class="md-table-toolbar md-default">
                                    <div class="md-toolbar-tools">
                                        <span>ติวเตอร์ที่สอน</span>
                                    </div>
                                </md-toolbar>
                                <md-table-container>
                                    <table md-table ng-hide="countAccTutor.length == 0">
                                        <thead md-head>
                                            <tr md-row>
                                                <th md-column>
                                                    <span>ชื่อ</span>
                                                </th>
                                                <th md-column md-numeric>เบอร์โทรศัพท์</th>
                                                <th md-column md-numeric hide-gt-xs>อีเมล</th>
                                                <th md-column md-numeric>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody md-body>
                                            <tr md-row ng-repeat="el in i.tutors | limitTo: query.limit: (query.page - 1) * query.limit | filter : { tutor_status: 'accepted' } as countAccTutor">
                                                <td md-cell>{{el.value.displayName}}</td>
                                                <td md-cell>{{el.value.tel}}</td>
                                                <td md-cell hide-gt-xs>{{el.value.email}}</td>
                                                <td md-cell>
                                                    <md-button class="md-fab md-mini md-primary" aria-label="Eat cake">
                                                        <md-icon md-svg-icon="info"></md-icon>
                                                        <md-tooltip md-delay="500">
                                                            รายละเอียด
                                                        </md-tooltip>
                                                    </md-button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </md-table-container>
                                <md-table-pagination ng-hide="countAccTutor.length == 0" md-limit="query.limit" md-page="query.page" md-total="{{i.tutors.length}}" md-page-select></md-table-pagination>
                            </div>
                            <div flex layout-margin>
                                <md-toolbar class="md-table-toolbar md-default">
                                    <div class="md-toolbar-tools">
                                        <span>รายชื่อติวเตอร์ที่สมัครเข้าสอน</span>
                                    </div>
                                </md-toolbar>
                                <md-table-container>
                                    <div layout="row" layout-align="center center" ng-show="countAccPending.length == 0">
                                        <p class="md-display-1">ไม่มีข้อมูล</p>
                                    </div>
                                    <table md-table ng-hide="countAccPending.length == 0">
                                        <thead md-head md-on-reorder="ul.course">
                                            <tr md-row>
                                                <th md-column>
                                                    <span>ชื่อ</span>
                                                </th>
                                                <th md-column md-numeric hide-xs>เบอร์โทรศัพท์</th>
                                                <th md-column md-numeric layout-align="center">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody md-body>
                                            <tr layout-align="center" md-row ng-repeat="el in i.tutors | limitTo: query.limit: (query.page - 1) * query.limit | filter :{ tutor_status: 'pending' } as countAccPending">
                                                <td md-cell>{{el.value.displayName}}</td>
                                                <td md-cell hide-xs>{{el.value.tel}}</td>
                                                <td md-cell>
                                                    <md-button class="md-fab md-mini md-primary" aria-label="Eat cake" ng-click="ul.acceptTutor(el, i.courseId, i)">
                                                        <md-icon md-svg-icon="done"></md-icon>
                                                        <md-tooltip md-delay="500">
                                                            ยืนยันการสมัคร
                                                        </md-tooltip>
                                                    </md-button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td md-cell colspan="4" align="center" ng-show="countAccPending.length == 0">
                                                    ไม่มีข้อมูล</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </md-table-container>
                                <md-table-pagination ng-hide="countAccPending.length == 0" md-limit="query.limit" md-page="query.page" md-total="{{i.tutors.length}}" md-page-select></md-table-pagination>
                            </div>
                        </div>
                        <hr class="hr">
                        <div layout="row" layout-xs="column">
                            <div flex layout-margin>
                                <md-toolbar class="md-table-toolbar md-default">
                                    <div class="md-toolbar-tools">
                                        <span>รายชื่อที่ชำระเงินแล้ว</span>
                                    </div>
                                </md-toolbar>
                                <!-- exact table from live demo -->
                                <md-table-container>
                                    <div layout="row" layout-align="center center" ng-show="countAcc.length == 0">
                                        <p class="md-display-1">ไม่มีข้อมูล</p>
                                    </div>
                                    <table md-table ng-hide="countAcc.length == 0">
                                        <thead md-head>
                                            <tr md-row>
                                                <th md-column>
                                                    <span>ชื่อ</span>
                                                </th>
                                                <th md-column md-numeric>เบอร์โทรศัพท์</th>
                                                <th md-column md-numeric hide-gt-xs>อีเมล</th>
                                                <th md-column md-numeric>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody md-body>
                                            <tr md-row ng-repeat="el in i.students | limitTo: query.limit: (query.page - 1) * query.limit | filter : { std_status: 'accepted' } as countAcc">
                                                <td md-cell>{{el.value.displayName}}</td>
                                                <td md-cell>{{el.value.tel}}</td>
                                                <td md-cell hide-gt-xs>{{el.value.email}}</td>
                                                <td md-cell>
                                                    <md-button class="md-fab md-mini md-primary" aria-label="Eat cake">
                                                        <md-icon md-svg-icon="info"></md-icon>
                                                    </md-button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </md-table-container>
                                <md-table-pagination ng-hide="countAcc.length == 0" md-limit="query.limit" md-page="query.page" md-total="{{i.students.length}}" md-page-select></md-table-pagination>
                            </div>
                            <div flex layout-margin>
                                <md-toolbar class="md-table-toolbar md-default">
                                    <div class="md-toolbar-tools">
                                        <span>รายชื่อที่ยังไม่ชำระเงิน</span>
                                    </div>
                                </md-toolbar>
                                <md-table-container>
                                    <div layout="row" layout-align="center center" ng-show="results.length == 0">
                                        <p class="md-display-1">ไม่มีข้อมูล</p>
                                    </div>
                                    <table md-table ng-hide="results.length == 0">
                                        <thead md-head md-on-reorder="ul.course">
                                            <tr md-row>
                                                <th md-column>
                                                    <span>ชื่อ</span>
                                                </th>
                                                <th md-column md-numeric hide-xs>เบอร์โทรศัพท์</th>
                                                <th md-column md-numeric layout-align="center">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody md-body>
                                            <tr layout-align="center" md-row ng-repeat="el in i.students | limitTo: query.limit: (query.page - 1) * query.limit | filter :{ std_status: 'pending' } as results">
                                                <td md-cell>{{el.value.displayName}}</td>
                                                <td md-cell hide-xs>{{el.value.tel}}</td>
                                                <td md-cell>
                                                    <md-button class="md-fab md-mini md-primary" aria-label="Eat cake" ng-click="ul.acceptStudent(el, i.courseId, i)">
                                                        <md-icon md-svg-icon="done"></md-icon>
                                                        <md-tooltip md-delay="500">
                                                            ยืนยันการสมัคร
                                                        </md-tooltip>
                                                    </md-button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td md-cell colspan="4" align="center" ng-show="results.length == 0">
                                                    ไม่มีข้อมูล</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </md-table-container>
                                <md-table-pagination ng-hide="results.length == 0" md-limit="query.limit" md-page="query.page" md-total="{{i.students.length}}" md-page-select></md-table-pagination>
                            </div>
                        </div>

                    </md-tab>
                </div>
            </md-tabs>
        </md-card>
    </div>
</div>

<div style="visibility: hidden">
    <div class="md-dialog-container" id="addCourse">
        <md-dialog aria-label="เพิ่มวิชา" style="width: 80%">
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2>เพิ่มวิชา</h2>
                    <span flex></span>
                    <md-button class="md-icon-button" ng-click="cancel()">
                        <md-icon md-svg-icon="cancel" aria-label="Close dialog"></md-icon>
                    </md-button>
                </div>
            </md-toolbar>
            <md-dialog-content layout-padding>
                <form name="addCourseForm">
                    <div layout-gt-xs="row">
                        <md-input-container flex-gt-xs>
                            <label>ชื่อ Course</label>
                            <input required name="courseName" ng-model="addCourse.name" md-maxlength="50" md-select-on-focus>
                            <div ng-messages="addCourseForm.courseName.$error">
                                <div ng-message="required">กรอกชื่อวิชา.</div>
                            </div>
                        </md-input-container>
                        <md-input-container>
                            <md-select required ng-model="addCourse.time" placeholder="ช่วงเวลาสอน" class="md-block">
                                <md-option value="morning">9.00 - 12.00</md-option>
                                <md-option value="afternoon">13.00 - 16.00</md-option>
                                <md-option value="evening">17.00 - 20.00</md-option>
                            </md-select>
                            <div ng-messages="addCourseForm.time.$error">
                                <div ng-message="required">เลือกช่วงเวลาสอน.</div>
                            </div>
                        </md-input-container>
                        <md-input-container>
                            <label>เริ่มสอนวันที่</label>
                            <md-datepicker ng-model="date" name="dateField" ng-change="addCourse.date = dateToString(date)" ng-required="true"></md-datepicker>
                            <div ng-messages="addCourseForm.date.$error">
                                <div ng-message="required">เลือกวันที่เริ่มสอน.</div>
                            </div>
                        </md-input-container>
                    </div>
                    <div layout="row" layout-align="center">
                        <div class="rel padding-10" style="width: 100%">
                            <ng-editor ng-model="addCourse.content" editor="editor" ng-required="true"></ng-editor>
                        </div>
                    </div>
                    <div layout="row" layout-align="center">
                        <md-button class="md-primary" ng-click="createCourse(addCourse)" ng-disabled="addCourseForm.$invalid">Create Course</md-button>
                    </div>
                </form>
            </md-dialog-content>
        </md-dialog>
    </div>
</div>