<div layout="row" layout-xs="column" layout-align="center" layout-padding layout-margin class="screen-margin">
    <div flex>

        <md-card>
            <md-content layout-align="center">
                <div layout="row" layout-align="center center">
                    <img ng-src="{{ ul.schoolSelected.info.photoURL }}" class="avatar-profile" alt="Profile Picture">
                </div>
                <md-card-title>
                    <md-card-title-text layout-align="center center">
                        <span class="md-title">{{ ul.schoolSelected.schoolName }}</span>
                        <span class="md-caption">by</span>
                        <span class="md-body-1">{{ ul.schoolSelected.info.displayName }}</span>
                    </md-card-title-text>
                </md-card-title>

            </md-content>
        </md-card>
        <md-card md-theme-watch>
            <md-card-content>
                <span class="md-subhead">Biography</span>
                -
                <span class="md-body-1">{{ul.schoolSelected.biography}}</span>
            </md-card-content>
        </md-card>
        <md-card md-theme-watch>
            <md-button aria-label="like">
                <md-icon md-svg-icon="./assets/svg/ic_thumb_up_48px.svg" style="fill:#2196F3"></md-icon>
            </md-button>
        </md-card>
    </div>
    <div flex>
        <md-card>
            <md-content layout-padding>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-title">Status</span>
                    </md-card-title-text>
                </md-card-title>
                <canvas id="radar" class="chart chart-radar" chart-data="ul.data" chart-options="options" chart-labels="ul.labels"></canvas>
            </md-content>
        </md-card>
        <div layout="row" layout-xs="column" layout-wrap>
            <div flex>
                <md-card md-theme-watch>
                    <md-button aria-label="like" ng-disabled="true">{{ul.schoolSelected.like}}
                        Like</md-button>
                </md-card>
            </div>
            <div flex>
                <md-card md-theme-watch>
                    <md-button aria-label="view" ng-disabled="true">{{ul.schoolSelected.view}}
                        view</md-button>
                </md-card>
            </div>
        </div>
    </div>
</div>
<div layout="column" layout-xs="column" layout-align="center" layout-padding layout-margin class="screen-margin">
    <md-chips></md-chips>
    <div dir-paginate="it in ul.courses | filter:q | itemsPerPage: pageSize" current-page="currentPage">
        <md-card md-theme-watch>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">course {{ it.name }}</span>
                    <span class="md-subhead">by ครูเอ๊</span>
                </md-card-title-text>
                <md-card-title-media>
                    <div class="md-media-sm card-media"></div>
                </md-card-title-media>
            </md-card-title>
            <md-card-actions layout="row" layout-align="end center">
                <md-button ng-disabled="true">{{it.like + 0}}
                    like</md-button>
                <md-button ng-disabled="true">{{it.view + 0}}
                    view</md-button>
                <md-button ng-disabled="true">{{it.view + 0}}
                    registered</md-button>
                <md-button ng-click="ul.goingToCoursePage(it.$id)">info</md-button>
            </md-card-actions>
        </md-card>
    </div>

    <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="src/template/pagination.html"></dir-pagination-controls>

</div>