<div layout="row" layout-xs="column" layout-align="center" class="screen-margin">
    <md-chips></md-chips>
    <div flex>
        <md-card>
            <md-card-content layout-padding>
                <h1 class="md-display-1">
                    {{ul.course[0].value.name}}</h1>
                <h3 class="md-headline">เริ่มเรียน
                    {{ul.course[0].value.dateTime}}</h3>
                <h3 class="md-title">เวลาสอน
                    {{ul.course[0].value.eventTime}}</h3>
                <p>{{ ul.course[0].value.details }}</p>
            </md-card-content>
        </md-card>
    </div>
</div>

<div layout="row" layout-xs="column" layout-align="center" class="screen-margin">
    <div flex>
        <md-card ng-show="checkStd">
            <md-button aria-label="register" ng-disabled="ul.disbleRegister" ng-click="ul.registerStd()">{{labalRegister}}</md-button>
        </md-card>
        <md-card ng-show="checkTutor">
            <md-button aria-label="register" ng-disabled="ul.disbleRegister" ng-click="ul.registerTutor()">{{labalRegister}}สอน</md-button>
        </md-card>
        <md-card ng-show="!checkTutor||!checkStd">
            <md-button aria-label="register" ng-disabled="true">คุณไม่สามารถสมัครได้ หรือยังไม่ได้ลงทะเบียน</md-button>
        </md-card>
    </div>
</div>
