<md-progress-circular md-mode="indeterminate" ng-show="isLoading" class="progress-bar">
</md-progress-circular>
<div layout="row" layout-xs="column" class="screen-margin" ng-hide="isLoading">
    <div flex>
        <md-card>
            <md-content>
                <div layout="row" layout-align="center center">
                    <img ng-src="{{ ul.user.photoURL }}" class="avatar-profile" alt="Profile Picture">
                </div>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-title">{{ ul.user.displayName }}</span>
                        <span class="md-subhead">email: {{ul.user.email}}</span>
                        <span class="md-subhead">status: {{ul.user.status}}</span>
                    </md-card-title-text>
                </md-card-title>
            </md-content>
        </md-card>
    </div>



    <div flex>
        <md-tabs md-dynamic-height md-border-bottom md-no-ink-bar>
            <md-tab label="วิชาทั้งหมด">
                <md-content class="md-padding">
                    <div ng-repeat="(key, value) in ul.course">
                        <md-card md-theme-watch>
                            <md-card-title>
                                <md-card-title-text>
                                    <span class="md-title">วิชา
                                        {{value.course.value.name }}</span>
                                    <span class="md-subhead">สถาบันกวดวิชา
                                        {{value.school.value.schoolName }}</span>
                                </md-card-title-text>
                                <md-card-title-media>
                                    <div class="md-media-sm card-media" ng-show="{{value.checkPoll}}">
                                        <img src="assets/img/short-pay-letter-verified.png" width="100%">
                                        <md-tooltip md-delay="500">
                                            ลงทะเบียนเรียบร้อยแล้ว
                                        </md-tooltip>
                                    </div>
                                </md-card-title-media>
                            </md-card-title>
                            <md-card-actions layout="row" layout-align="end center">
                                <md-button class="md-raised md-primary" ng-show="ul.ckeckAccepted(value.infoRegister.status)">ลงทะเบียนเรียบร้อย</md-button>
                                <md-button class="md-raised md-primary" ng-show="ul.ckeckPending(value.infoRegister.status)" ng-click="confirmPayment($event, value)">ยืนยันการชำระเงิน</md-button>
                                </md-button>
                                <md-button ng-click="ul.doingPoll(value.course.courseId, value.school.schoolId)" ng-show="!{{value.checkPoll}}" ng-hide="ul.ckeckPending(value.infoRegister.status)">ทำแบบประเมิน</md-button>
                            </md-card-actions>
                        </md-card>
                    </div>
                </md-content>
            </md-tab>
            <md-tab label="วิชาที่ผ่านการยืนยัน">
                <md-content class="md-padding">
                    <div ng-repeat="(key, value) in ul.course  | filter : 'pending'">
                        <md-card md-theme-watch ng-show="!ul.ckeckPending(value.infoRegister.status)">
                            <md-card-title>
                                <md-card-title-text>
                                    <span class="md-title">วิชา
                                        {{value.course.value.name }}</span>
                                    <span class="md-subhead">สถาบันกวดวิชา
                                        {{value.school.value.schoolName }}</span>
                                </md-card-title-text>
                                <md-card-title-media>
                                    <div class="md-media-sm card-media" ng-show="{{value.checkPoll}}">
                                        <img src="assets/img/short-pay-letter-verified.png" width="100%">
                                        <md-tooltip md-delay="500">
                                            ลงทะเบียนเรียบร้อยแล้ว
                                        </md-tooltip>
                                    </div>
                                </md-card-title-media>
                            </md-card-title>
                            <md-card-actions layout="row" layout-align="end center">
                                <md-button class="md-raised md-primary">ลงทะเบียนเรียบร้อย</md-button>
                                <md-button ng-disabled="true">ลงทะเบียนแล้ว {{value.countRegister}} คน
                                </md-button>
                                <md-button ng-disabled="true">สมัครวันที่ {{value.infoRegister.dateRegister}}
                                </md-button>
                                <md-button ng-click="ul.doingPoll(value.course.courseId, value.school.schoolId)" ng-show="!{{value.checkPoll}}">ทำแบบประเมิน</md-button>
                            </md-card-actions>
                        </md-card>
                    </div>
                </md-content>
            </md-tab>
            <md-tab label="วิชาที่ยังรอการยืนยัน">
                <md-content class="md-padding">
                    <div ng-repeat="(key, value) in ul.course  | filter : 'waiting'">
                        <md-card md-theme-watch ng-show="ul.ckeckPending(value.infoRegister.status)">
                            <md-card-title>
                                <md-card-title-text>
                                    <span class="md-title">วิชา
                                        {{value.course.value.name }}</span>
                                    <span class="md-subhead">สถาบันกวดวิชา
                                        {{value.school.value.schoolName }}</span>
                                </md-card-title-text>
                                <md-card-title-media>
                                    <div class="md-media-sm card-media"></div>
                                </md-card-title-media>
                            </md-card-title>
                            <md-card-actions layout="row" layout-align="end center">
                                <md-button class="md-raised md-warn" ng-show="ul.ckeckPending(value.infoRegister.status)">รอการยืนยัน</md-button>
                                <md-button ng-disabled="true">ลงทะเบียนแล้ว {{value.countRegister}} คน
                                </md-button>
                                <md-button ng-disabled="true">สมัครวันที่ {{value.infoRegister.dateRegister}}
                                </md-button>
                                <md-button ng-click="ul.goToSchoolPage(it.id)" ng-disabled="ul.ckeckPending(value.infoRegister.status)">ทำแบบประเมิน</md-button>
                            </md-card-actions>
                        </md-card>
                    </div>
                </md-content>
            </md-tab>
        </md-tabs>
    </div>

</div>

<div style="visibility: hidden">
    <div class="md-dialog-container" id="confirmPayment">
        <md-dialog aria-label="เพิ่มวิชา">
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2>ตวรจสอบการชำระเงิน</h2>
                    <span flex></span>
                    <md-button class="md-icon-button" ng-click="cancel()">
                        <md-icon md-svg-icon="cancel" aria-label="Close dialog"></md-icon>
                    </md-button>
                </div>
            </md-toolbar>
            <md-progress-linear md-mode="determinate" ng-value="{{loading}}"></md-progress-linear>
            <md-dialog-content layout="row" layout-align="center" layout-padding>
                    <form name="inputPayment">
                        <div layout-gt-xs="column">
                            <md-input-container>
                                <label>ชื่อ-นามสกุล ผู้โอน</label>
                                <input required name="name" ng-model="payment.name"/>
                                <div ng-messages="inputPayment.name.$error">
                                    <div ng-message="required">กรอกชื่อผู้โอน.</div>
                                </div>
                            </md-input-container>
                            <md-input-container>
                                <label>ธนาคาร</label>
                                <md-select ng-model="payment.bankName" name="bankName" required>
                                    <md-option value="กรุงเทพ">กรุงเทพ</md-option>
                                    <md-option value="กสิกร">กสิกร</md-option>
                                    <md-option value="กรุงศรี">กรุงศรี</md-option>
                                    <md-option value="ไทยพาณิช">ไทยพาณิช</md-option>
                                    <md-option value="ทหารไทย">ทหารไทย</md-option>
                                </md-select>
                                <div ng-messages="inputPayment.bankName.$error">
                                    <div ng-message="required">กรอกเลือกธนาคาร.</div>
                                </div>
                            </md-input-container>
                            <div layout="row">
                                 <md-input-container>
                                <label>เวลาที่โอน</label>
                                <md-datepicker md-hide-icons="calendar" ng-model="ss" name="date1" ng-change="payment.date = dateToString(ss)" required></md-datepicker>
                                <div ng-messages="inputPayment.date1.$error">
                                    <div ng-message="required">เลือกวันที่เริ่มสอน.</div>
                                </div>
                            </md-input-container>
                            <md-input-container>
                                <label>เวลาที่โอน</label>
                                <input required name="time" ng-model="payment.time" ng-pattern="/^[0-9]{2}[.][0-9]{2}$/">
                                <div ng-messages="inputPayment.time.$error">
                                    <div ng-message="pattern">ตัวอย่าง 08.30</div>
                                    <div ng-message="required">กรุณากรอกช่วงเวลาที่สอน.</div>
                                </div>
                            </md-input-container>
                            </div>
                            <md-input-container>
                                <label>เบอร์ติดต่อ</label>
                                <input required name="tel" ng-model="payment.tel" ng-pattern="/^[0-9]{3}[-][0-9]{3}-[0-9]{4}$/">
                                <div ng-messages="inputPayment.tel.$error">
                                    <div ng-message="pattern">ตัวอย่าง 091-234-5678</div>
                                    <div ng-message="required">กรุณากรอกช่วงเวลาที่สอน.</div>
                                </div>
                            </md-input-container>
                                <input id="input-file-id" type="file"/>
                                <md-button class="md-raised md-primary" ng-click="submitPayment(payment)">ยืนยัน</md-button>
                        </div>
                    </form>
            </md-dialog-content>
        </md-dialog>
    </div>
</div>