<md-content class="md-padding screen-margin" layout-xs="column" layout="row" layout-align="space-around center">
    <div hide-xs hide-sm flex="60" class="form-signin">
        <md-content class="md-padding">

            <md-tabs md-dynamic-height md-border-bottom md-selected="selectedIndex">
                <md-tab label="สถานะในระบบ" md-active="true" ng-disabled="'true'">
                    <md-content class="md-padding">
                        <form name="status">
                            <h1 class="md-display-1">สถานะในเว็บ Funfunc.com คุณใช้ในสถานะอะไร</h1>
                            <br><br><br><br>
                            <md-radio-group name="rd" ng-model="user.select" layout="row" layout-align="center center" ng-required="true">
                                <md-radio-button value="tutor">ติวเตอร์</md-radio-button>
                                <md-radio-button value="student">นักเรียน</md-radio-button>
                                <md-radio-button value="school">โรงเรียน</md-radio-button>
                            </md-radio-group>
                            <br><br><br><br>
                            <div layout="row" layout-align="end end">
                                <md-button class="md-raised md-primary" ng-click="nextTab()" ng-disabled="status.$invalid">Next</md-button>
                            </div>
                        </form>
                    </md-content>
                </md-tab>
                <md-tab label="สร้างชื่อผู้ใช้งานและรหัสผ่าน" ng-disabled="'true'">
                    <md-content class="md-padding">
                        <h1 class="md-display-2">ขั้นตอนที่ 2</h1>
                        <br><br><br>
                        <form name="userForm">
                            <md-input-container class="md-block">
                                <input ng-model="user.email" type="email" placeholder="Email" ng-required="true" name="email">
                                <div ng-messages="userForm.email.$error">
                                    <div ng-message="required">กรอกอีเมล.</div>
                                </div>
                            </md-input-container>
                            <md-input-container class="md-block">
                                <label>Password</label>
                                <input ng-model="user.password" type="password" ng-required="true" name="password">
                                <div ng-messages="userForm.password.$error">
                                    <div ng-message="required">กรอกพาสเวิร์ด.</div>
                                </div>
                            </md-input-container>
                            <md-input-container class="md-block">
                                <label>Confirm Password</label>
                                <input ng-model="user.password2" type="password" ng-required="true" password-match="user.password" name="password2">
                                <div ng-messages="userForm.password2.$error">
                                    <div ng-message="required">กรอกพาสเวิร์ดไม่ตรงกัน.</div>
                                </div>
                            </md-input-container>
                            <br><br><br>
                            <div layout="row" layout-align="end end">
                                <md-button class="md-raised md-primary" ng-click="nextTab()" ng-disabled="userForm.$invalid">Next</md-button>
                            </div>
                        </form>
                    </md-content>

                </md-tab>
                <md-tab label="ข้อมูลส่วนตัว" ng-disabled="'true'">
                    <md-content class="md-padding">
                        <h1 class="md-display-2">ขั้นตอนที่ 3</h1>
                        <br><br><br>
                        <form name="info">
                            <md-input-container class="md-block">
                                <input ng-model="user.firstname" type="text" placeholder="ชื่อ" ng-required="true" name="firstname">
                                <div ng-messages="info.firstname.$error">
                                    <div ng-message="required">กรอกชื่อ.</div>
                                </div>
                            </md-input-container>
                            <md-input-container class="md-block">
                                <label>นามสกุล</label>
                                <input ng-model="user.lastname" type="text" ng-required="true" name="lastname">
                                <div ng-messages="info.lastname.$error">
                                    <div ng-message="required">กรอกนามสกุล.</div>
                                </div>
                            </md-input-container>
                            <md-input-container class="md-block">
                                <label>Tel.</label>
                                <input ng-model="user.tel" type="text" ng-required="true" name="tel">
                                <div ng-messages="info.tel.$error">
                                    <div ng-message="required">กรอกเบอร์โทรศัพท์.</div>
                                </div>
                            </md-input-container>
                            <br><br><br>
                            <div layout="row" layout-align="end end">
                                <md-button class="md-raised md-primary" ng-click="nextTab()" ng-disabled="info.$invalid">Next</md-button>
                            </div>
                        </form>
                    </md-content>
                </md-tab>
                <md-tab label="เงื่อนไขและข้อตกลง" ng-disabled="'true'">
                    <md-content class="md-padding">
                        <h1 class="md-display-2">ขั้นตอนที่ 3</h1>
                        <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci
                            commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
                        <br><br><br>
                        <form name="submit">
                            <div layout="row" layout-align="end end">
                                <md-radio-group name="rd" ng-model="user.confirm" ng-required="true">
                                    <md-radio-button value="confirm">ยืนยันการสมัครสมาชิก</md-radio-button>
                                </md-radio-group>
                            </div>
                            <br><br><br>
                            <div layout="row" layout-align="end end">
                                <md-button class="md-raised md-primary" ng-disabled="submit.$invalid" ng-click="signUp('email',user)">สมัครสมาชิก</md-button>
                            </div>
                        </form>

                    </md-content>
                </md-tab>
            </md-tabs>
        </md-content>
    </div>
    <div flex layout="row" layout-align="center">
        <md-content>
            <h1 class="title">หรือสมัครง่ายๆด้วยบัญชี</h1>
            <br>
            <md-radio-group name="rd" ng-model="provinder.select" layout="row" layout-align="center center" ng-required="true">
                <md-radio-button value="tutor">ติวเตอร์</md-radio-button>
                <md-radio-button value="student">นักเรียน</md-radio-button>
                <md-radio-button value="school">โรงเรียน</md-radio-button>
            </md-radio-group>
            <br>
            <md-container layout="column">
                <md-button class="md-primary md-raised" ng-click="signUp('facebook',provinder)">
                    Facebook
                </md-button>
                <md-button class="md-primary md-raised" ng-click="signUp('google',provinder)">
                    Google+
                </md-button>
            </md-container>
        </md-content>
    </div>
</md-content>
